*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }


body, html {
    height: 100%;
    margin: 0;
    font-family: 
}


.container-fluid {
    height: 100%;
    display: flex;
    flex-direction: column;
}


.product-detail {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 15px;
    background-color: #f8f9fa;
}

.product-detail .container {
    max-width: 1200px;
    padding: 30px;
}

.product-detail img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.product-detail h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.product-detail .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product-detail .col-md-6 {
    flex: 1;
    padding: 15px;
}

.product-detail .col-md-6 img {
    width: 100%;
    height: auto;
}

.product-detail button {
    margin-top: 20px;
}


footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 15px;
    position: relative;
    width: 100%;
    bottom: 0;
}
